<nav class="menu" style="margin:  0.5rem 0 0.5rem 0">
  <ul class="menu-list" style="font-size: 1.25rem">
    <li>
      <%= link_to posts_path, class: '' do %>
        <span class="icon is-small is-left" style="margin-right: 1.5rem"><i class="fa fa-home"></i></span>Home
      <% end %>
    </li>
    <li>
      <%= link_to nil, class: '' do %>
        <span class="icon is-small is-left" style="margin-right: 1.5rem"><i class="fa fa-hashtag"></i></span>Explore
      <% end %>
    </li>
    <li>
      <%= link_to nil, class: '' do %>
        <span class="icon is-small is-left" style="margin-right: 1.5rem"><i class="fa fa-bell"></i></span>Notifications
      <% end %>
    </li>
    <li>
      <%= link_to nil, class: '' do %>
        <span class="icon is-small is-left" style="margin-right: 1.5rem"><i class="fa fa-envelope"></i></span>Messages
      <% end %>
    </li>
    <li>
      <%= link_to nil, class: '' do %>
        <span class="icon is-small is-left" style="margin-right: 1.5rem"><i class="fa fa-bookmark"></i></span>Bookmarks
      <% end %>
    </li>
    <li>
      <%= link_to nil, class: '' do %>
        <span class="icon is-small is-left" style="margin-right: 1.5rem"><i class="fa fa-list"></i></span>Lists
      <% end %>
    </li>
    <% if current_user %>
      <li>
        <%= link_to user_path(current_user.id), class: '' do %>
          <span class="icon is-small is-left" style="margin-right: 1.5rem"><i class="fa fa-user"></i></span>Profile
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
