<nav class="level is-mobile">
  <div class="level-item">
    <%= link_to resource, class: 'submitbutton' do %>
      <span class="icon is-small"><i class="fa fa-reply"></i></span>
      <%= resource.replies.count %>
    <% end %>
  </div>
  <div class="level-item">
    <%= render 'posts/post/nav/repost', resource:, post: %>
  </div>
  <div class="level-item">
    <%= render 'posts/post/nav/like', resource:, post: %>
  </div>
  <div class="level-item">
    <%= render 'posts/post/nav/dislike', resource:, post: %>
  </div>
  <div class="level-item">
    <span class="icon is-small"><i class="fa fa-bar-chart"></i></span>
  </div>
</nav>
