<nav class="level is-mobile">
  <div class="level-item">
    <%= link_to resource do %>
      <span class="icon is-small"><i class="fa fa-reply" ></i></span>
      <%= resource.replies.count %>
    <% end %>
  </div>
  <div class="level-item">
    <%= render "posts/post/nav/repost", resource: resource, post: post %>
  </div>
  <div class="level-item">
    <%= render "posts/post/nav/like", resource: resource, post: post %>
  </div>
  <div class="level-item">
    <%= render "posts/post/nav/dislike", resource: resource, post: post %>
  </div>
</nav>
