<nav class="level is-mobile">
  <div class="level-item">
    <%= link_to post do %>
      <span class="icon is-small"><i class="fa fa-reply" ></i></span>
      <%= post.replies.count %>
    <% end %>
  </div>
  <div class="level-item">
    <%= render "posts/post/nav/repost", post: post, repost: repost %>
  </div>
  <div class="level-item">
    <%= link_to nil do %>
      <span class="icon is-small"><i class="fa fa-thumbs-o-up" ></i></span>
      <%= '500' %>
    <% end %>
  </div>
  <div class="level-item">
    <%= link_to nil do %>
      <span class="icon is-small"><i class="fa fa-thumbs-o-down" ></i></span>
      <%= '7' %>
    <% end %>
  </div>
</nav>
