<nav class="level is-mobile">
  <div class="level-item">
    <%= link_to resource do %>
      <span class="icon is-small"><i class="fa fa-reply" ></i></span>
      <%= resource.replies.count %>
    <% end %>
  </div>
  <div class="level-item">
    <%= render "posts/post/nav/repost", resource: resource, post: post, repost: repost %>
  </div>
  <div class="level-item">
    <%= link_to nil do %>
      <span class="icon is-small"><i class="fa fa-thumbs-o-up" ></i></span>
      <%= '500' %>
    <% end %>
  </div>
  <div class="level-item">
    <%= link_to nil do %>
      <span class="icon is-small"><i class="fa fa-thumbs-o-down" ></i></span>
      <%= '7' %>
    <% end %>
  </div>
</nav>
