<div class="block separated" style="<%= "padding-top: 0.25rem" if user_signed_in? && post.repost? %>">
  <%= render "posts/post/repost", post: post if user_signed_in? && post.repost? %>
  <article class="media">
    <% resource = post.repost? ? post.source : post %>
    <div class="media-left">
      <%= render "posts/post/user", post: resource %>
    </div>
    <div class="media-content">
      <%= render "posts/post/content", post: resource %>
      <% repost = check_repost?(post) ? nil : @new_post %>
      <% post = select_current_user_repost(post) if source_of_current_user_repost?(post)  %>
      <%= render "posts/post/nav", resource: resource, post: post, repost: repost if user_signed_in? %>
    </div>
  </article>
</div>
