<div class="block separated" style="<%= "padding-top: 0.25rem" if post.a_repost? %>">
  <%= render "posts/post/repost", post: post if user_signed_in? && post.a_repost? %>
  <article class="media">
    <% post = post.source if post.a_repost? %>
    <div class="media-left">
      <%= render "posts/post/user", post: post %>
    </div>
    <div class="media-content">
      <%= render "posts/post/content", post: post %>
      <%= render "posts/post/nav", post: post, repost: repost if user_signed_in? %>
    </div>
  </article>
</div>
