<article class="media">
  <div class="media-left">
    <figure class="image is-64x64">
      <% if user_signed_in? && !post.user.nil? %>
        <%= gravatar_image_tag(post.user&.email, alt: post.user&.username, class: "is-rounded") %>
      <% else %>
        <%= image_tag "pixil-frame-0.png", class: "is-rounded" %>
      <% end %>
    </figure>
  </div>
  <div class="media-content">
    <div class="content">
      <% if user_signed_in? %>
        <p style="margin-bottom:0">
          <strong>Some title the user chose</strong><%# implement title%>
          <i><%= post.user.nil? ? "@deleted_user" : "@#{post.user.username}" %></i>
          <%= "\u00b7" %>
          <%= time_passed(post) %>
        </p>
      <% end %>
      <p style="white-space: pre-line"><%= post.content %></p>
    </div>
    <%= render "nav", post: post if user_signed_in? %>
  </div>
  <div class="media-right">
    <%= link_to 'Show', post if user_signed_in? && !current_page?("http://localhost:3000/posts/#{post.id}")%>
  </div>
</article>
